# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Cache
node_modules
*.pnp
.pnp.js
*.rbc
.rbc
__pycache__
*.pyc
*.pyo
*.pyd
*.seed
*.pid
*.lib
*.dll
*.so
*.dylib
*.db
*.sqlite3
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.avif
*.pdf
*.mov
*.mp4
*.m4a
*.m4v
*.mp3
*.wav
*.ogg
*.flac
*.aac
*.zip
*.tar
*.tgz
*.gz
*.rar
*.xz
*.bz2
*.7z
*.exe
*.dll
*.deb
*.rpm
*.dmg
*.iso
*.img
*.msi
*.msp
*.app
*.download
*.patch
*.swp
*.lock
*.yarn-integrity
.yarn-metadata.json
.yarn-tarball.tgz
.yarn-build-state.tgz
.yarn-offline-cache.tgz

# Dependency directories
node_modules/
jspm_packages/

# Distribution directories
dist/
out/
*.egg-info/
.build/
bundle/
bower_components/

# dotenv environment variables file
.env

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Editor directories and files
.DS_Store
*.swp
*~
.project
settings.xml
*.sublime-workspace
*.sublime-project